body {margin:15px 15px 15px 15px;background:#f2f2f2;}
.layui-online-container{border:1px solid #f2f2f2;border-radius:5px;background-color:#ffffff}
.layui-online-main{margin: 5px;border: 5px solid #ffffff;border-radius: 5px;background-color: #ffffff;}
.layui-online-form>.layui-form-item>.required:after {content:'*';color:red;position:absolute;margin-left:4px;font-weight:bold;line-height:1.8em;top:6px;right:5px;}
.layui-online-form>.layui-form-item>.layui-form-label {width:120px !important;}
.layui-online-form>.layui-form-item>.layui-input-block {margin-left:150px !important;}
.layui-online-form>.layui-form-item>.layui-input-block >tip {display:inline-block;margin-top:10px;line-height:10px;font-size:10px;color:#a29c9c;}
/*图片管理*/
#Images li{ width:19%; margin:0.5% 0.5%; float: left; overflow:hidden;}
#Images li img{ width:70%; cursor:pointer; }
#Images li .operate{ display: block; height: 40px; width:70%; background:#f4f5f9; }
#Images li .operate .check{ float:left; margin-left:11px; height:18px; padding:11px 0; width:74%; position:relative;}
#Images li .operate .check .layui-form-checkbox[lay-skin=primary]{ width:100%;}
#Images li .operate .check .layui-form-checkbox[lay-skin=primary] span{ padding:0 5px 0 25px; width:100%; box-sizing:border-box;}
#Images li .operate .check .layui-form-checkbox[lay-skin=primary] i{position:absolute; left:0; top:0;}
#Images li .operate .img_del{ float:right; margin:9px 11px 0 0; font-size: 22px !important; cursor:pointer; }
#Images li .operate .img_del:hover{ color:#f00; }
@media screen and (max-width:1050px){#Images li{ width:24%;}}
@media screen and (max-width: 750px){#Images li{ width:49%;}}
@media screen and (max-width:432px){#Images li{ width:99%;}}
/*修改密码*/
.pwdTips{ min-height:auto; margin:40px 0 15px 110px;}
.layui-red{ color:#f00 !important; font-weight:bold;}

/**视频管理*/
.video-container {background: #fff;border: 1px solid transparent;width: 100%;height: 255px;position: relative;}
.video-container:hover {border: 1px solid #e8e8e8}
.video-container img {width: 100%}
.video-text {padding: 20px}
.video-text .info {height: 40px;font-size: 14px;line-height: 20px;width: 100%;overflow: hidden;color: #666;margin-bottom: 10px}
.video-text .price {font-size: 14px}
.video-text .price b {margin-right: 20px}
.video-text .price p {display: inline-block}
.video-text .flow {text-align: right;float: right}
.player {
    background: #000;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.player:hover{
    opacity: 1;
}
.player .playericon {
    position: absolute;
    z-index: 120;
    width: 50px;
    height: 50px;
    display: block;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    background: url('../images/player_icon.png') 0 0 no-repeat;
    cursor: pointer;
    background-size: 50px 50px;}
#page{text-align: center;}

