<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.online.system.web.dao.NoticeDao">
    <!--查询所有通知-->
    <select id="queryNotice" resultType="com.online.system.web.entity.Notice">
		select
		id,
		title,
		notice_type,
		case notice_type when 'system' then '系统'
			when 'notice' then '通知'
			end as notice_name,
		notice_content,
		is_read,
		create_time,
		create_user
		from
			t_online_notice
		WHERE
		1= 1
		<if test="noticeType != null and noticeType !=''" >
			AND notice_type = #{noticeType}
		</if >
		order by create_time desc
	</select>
</mapper>
