<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,height=device-height  initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
          name="viewport">
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../../css/public.css" media="all"/>
    <title>新增定时任务</title>
</head>
<body>
<div class="layui-online-main">
	<form class="layui-form layui-online-form " lay-filter="scheduleAddForm">
		<div class="layui-form-item layui-col-md8">
			<label class="layui-form-label required">任务名称</label>
			<div class="layui-input-block">
				<input type="text" name="taskName" lay-verify="required" autocomplete="off" lay-reqtext="任务名称不能为空"
					   class="layui-input">
			</div>
		</div>
		<div class="layui-form-item layui-col-md8">
			<label class="layui-form-label">任务分组</label>
			<div class="layui-input-block">
				<select name="taskGroup">
					<option value="default">默认</option>
					<option value="system">系统</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item layui-col-md8">
			<label class="layui-form-label">调用目标字符串</label>
			<div class="layui-input-block">
				<input type="text" name="taskClass" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-input-block">
				<label class="new_tip">bean调用示例：imagePageProcessor</label>
			</div>
		</div>
		<div class="layui-form-item layui-col-md8">
			<label class="layui-form-label">调用目标方法名</label>
			<div class="layui-input-block">
				<input type="text" name="taskMethod" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-input-block">
				<label class="new_tip">bean方法调用示例：execute</label>
			</div>
		</div>
		<div class="layui-form-item layui-col-md8">
			<label class="layui-form-label">cron表达式</label>
			<div class="layui-input-block">
				<input type="text" name="taskExpress" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item layui-col-md8">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
				<input type="radio" name="taskStatus" value="0" title="启用" checked="checked">
				<input type="radio" name="taskStatus" value="1" title="暂停">
			</div>
		</div>
		<div class="layui-form-item" style="padding-left: 40%;">
			<div class="layui-input-block">
				<button type="button" class="layui-btn" lay-submit lay-filter="saveBtn">提交</button>
				<button type="button" class="layui-btn layui-btn-primary" onclick="iframeClose()">取消</button>
			</div>
		</div>
	</form>
</div>
</body>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript" src="../../js/tools.js"></script>
<script type="text/javascript" src="schedule_add.js"></script>
</html>