html, body
{
    margin: 0;
    padding: 0;
    overflow:hidden;
}
body
{
    background:url('../../../images/spring.jpg') no-repeat fixed;
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
}
.layui-user-login-icon {position: absolute;left: 1px;top: 1px;width: 38px;line-height: 36px;text-align: center;color: #d2d2d2;}
.layui-user-login-body .layui-form-item {position: relative;}
.layui-user-login-body .layui-form-item .layui-input {padding-left: 38px;}
.layui-user-login-codeimg {max-height: 36px;width: 100%;cursor: pointer;box-sizing: border-box;}
.login{ height:300px;width:260px;padding: 20px;background-color:rgba(0,0,0,0.5);border-radius: 4px;position:absolute;left: 50%;top: 50%; margin:-150px 0 0 -150px;z-index:99;}
.login h2{ text-align:center; color:#fff; font-size:30px; margin-bottom:10px; }
.login p{text-align:center; color:#fff;margin-bottom: 10px;font-weight: 300;}
.form_code{ position:relative; }
.form_code .code{ position:absolute; right:0; top:1px; cursor:pointer; }
.login_btn{ width:100%; }