<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta content="webkit" name="renderer">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
<link rel="stylesheet" href="../../css/public.css" media="all" />
<title>用户新增</title>
</head>
<body>
<div class="layui-online-main">
    <form class="layui-form layui-online-form" lay-filter="userAddForm">
        <div class="layui-form-item">
            <label class="layui-form-label required">用户名</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="username" maxlength="50" lay-verify="required" lay-reqtext="用户名不能为空"
                       autocomplete="off" placeholder="请输入用户名" onkeyup="this.value=characterFilter(this.value);">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">姓名</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="name" maxlength="100" lay-verify="required" lay-reqtext="姓名不能为空"
                       autocomplete="off" placeholder="请输入姓名" onkeyup="this.value=characterFilter(this.value);">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">身份证</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="idNum" lay-verify="required|identity"
                       lay-reqtext="请输入身份证号"  autocomplete="off" placeholder="身份证号" id="idNum">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="1" title="男" checked disabled>
                <input type="radio" name="sex" value="2" title="女"  disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">出生日期</label>
            <div class="layui-input-block">
                <input type="text" name="birthday" lay-verify="date" placeholder="出生日期"
                       autocomplete="off" class="layui-input birthday" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">手机号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="phone" lay-verify="required|phone"
                       lay-reqtext="请输入手机号" maxlength="11" autocomplete="off" placeholder="手机号">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">邮箱</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="email" lay-verify="required|email"
                       lay-reqtext="请输入邮箱"  autocomplete="off" placeholder="邮箱">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea address"  name="address"  autocomplete="off" ></textarea>
            </div>
        </div>
        <div class="layui-form-item" style="padding-left: 40%;">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit lay-filter="saveBtn">提交</button>
                <button type="button" class="layui-btn layui-btn-primary" onclick="iframeClose()">取消</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript" src="../../js/tools.js"></script>
<script src="user-add.js"></script>
</body>
