<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta content="webkit" name="renderer">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
<link rel="stylesheet" href="../../css/public.css" media="all" />
<title>版本新增</title>
</head>
<body>
<div class="layui-online-main">
    <form class="layui-form layui-online-form" lay-filter="versionAddForm">
        <div class="layui-form-item">
            <label class="layui-form-label required">系统版本</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="systemVersion" maxlength="50" lay-verify="required" lay-reqtext="系统版本不能为空"
                       autocomplete="off" placeholder="请输入系统版本">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">版本类型</label>
            <div class="layui-input-block">
                <select name="versionType">
                    <option value="add" selected>新增</option>
                    <option value="optimize">优化</option>
                    <option value="update">更新</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" id="description" maxlength="1000" autocomplete="off" name="description"></textarea>
            </div>
        </div>
        <div class="layui-form-item" style="padding-left: 40%;">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit lay-filter="saveBtn">提交</button>
                <button type="button" class="layui-btn layui-btn-primary" onclick="iframeClose()">取消</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript" src="../../js/tools.js"></script>
<script src="version-add.js"></script>
</body>
